<% provide(:title, "Home") %>

<div class = "Home">

<h1>CSCI 4830 Restaurant Reservation System</h1>
<h2>
	<a href="/static_pages/createrestaurant"> BUILD YOUR RESTAURANT LAYOUT!</a>
</h2>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
