<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">


  <link rel="stylesheet" href="/resources/demos/style.css">
<style>

#pic{
  height: 100px;
}
</style>


</head>
<body>
<% Table.all.each do |table| %>


<img id = "pic" style = "margin-left: 40%; margin-top: 10%; position: absolute; padding: 1em;  left:<%=table.x_loc%>px; top:<%=table.y_loc%>px; height = 10%;" src="<%=asset_path( 'overheadtable.jpg')%>"/>

<%end%>
<img style="position: static; margin-left: 30%; margin-top: 10%; width:900px; height: 500px" src="<%=asset_path('floor.jpg')%>"/>




</body>
