// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
  background: #FFE5AA;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
h1{
  color: #805F15;
}
#restaurantbox {
  background: #333;
  border: 1px solid #00;
  height: 800px;
  width: 900px;
  position: relative;
  margin : 30px auto auto auto;


}
#element{
  background: #664;
  border: 1px #000 solid;
  cursor: move;
  height: 150px;
  padding: 10px 10px 10px 10px;
  width: 200px;
}
#respond{
  color:#fff;
  margin: 0 auto 0 auto;
  width: 900px;
}
